### Intellij+all Patch ###
# Ignores the whole idea folder
# See https://github.com/joeblau/gitignore.io/issues/186 and https://github.com/joeblau/gitignore.io/issues/360

.idea/
*.iml

# End of https://www.gitignore.io/api/intellij+all

*.vagrant/
pkg/
